<ion-view title="Add Product">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-stable button-block ">Scan</button>
        <h5>or add manually:</h5>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Product Name</span>
                <input type="text" placeholder="enter here">
            </label>
            <label class="item item-select">
                <span class="input-label">Quantity Unit</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Expiry Date</span>
                <input type="date" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive">Notify me when it expires</ion-toggle>
            <label class="item item-select">
                <span class="input-label">Category</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Section</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Subsection</span>
                <select></select>
            </label>
            <button class="button  button-block ">Add Product!</button>
        </form>
    </ion-content>
</ion-view>