<ion-view title="CaMaRa">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">Frigider</div>
            <div class="item item-body">
                <div class="list card">
                    <div class="item item-divider">Raft 1</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">Details</div>
                </div>
                <div class="list card">
                    <div class="item item-divider">Raft 2</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">Details</div>
                </div>
                <div class="list card">
                    <div class="item item-divider">Raft 3</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">Details</div>
                </div>
            </div>
            <div class="item item-divider">Some footer here</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Camara</div>
            <div class="item item-body">
                <div class="list card">
                    <div class="item item-divider">Raft 1</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">Details</div>
                </div>
                <div class="list card">
                    <div class="item item-divider">Raft 2</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">Details</div>
                </div>
            </div>
            <div class="item item-divider">Details footer</div>
        </div>
    </ion-content>
</ion-view>