<ion-view title="Search Product">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Product Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item menu-close="">Product One</ion-item>
            <ion-item menu-close="">Product Two</ion-item>
            <ion-item menu-close="">Product Three</ion-item>
        </ion-list>
    </ion-content>
</ion-view>