<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-royal tabs-icon-top">
        <ion-tab title="Overview" icon="ion-ios-eye" href="#/tabs/camaraPage">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Add Product" icon="ion-ios-cart" href="#/tabs/addProductPage">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Search" icon="ion-ios-search" href="#/tabs/searchPage">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Receipes" icon="ion-ios-lightbulb-outline" href="#/tabs/receipesPage">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-ios-settings" href="#/tabs/settingsPage">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>